#searchmember {
}
.searchmember_container
{
    border: 1px solid #999;
    background-color: #ccc;
    font-family: Verdana,Arial,sans-serif;
    background-color: #ccc;
    padding: 1px 10px 2px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
#searchmember .label {
    float: left;
    display: block;
    margin: 6px 10px 0 0;
}
#searchmember .val {
    float: left;
    display: block;
    width: 710px;
}
.searchfield {
    width: 710px;
    padding: 4px;
    font-size: 11px;
}
#alphabet-list {
    border-bottom: 1px solid #999;
    padding-left: 20px;
}
#alphabet-list a {
    display: block;
    float: left;
    width: 20px;
    padding: 4px 0;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
}
#alphabet-list a:hover {
    text-decoration: none;
    background-color: #999;
    color: #000;
}
#alphabet-list a.selected {
    color: #333;
    border-bottom: 4px solid #333;
}
#list-result {
    font-family: Verdana,Arial,sans-serif;
    border-bottom: 1px solid #999;
    background-color: #ccc;
    padding: 3px 0 5px 20px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
#list-result strong {
    color: #333;
}
#people-list {
    padding: 10px;
    margin-top: 10px;
}
#people-list ul {
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding:  0;
    margin: 0;
}
#people-list li {
    padding: 10px;
    display: block;
    background-color: #fefefe;
    border-top: 1px solid #ccc;
}
#people-list li:first-child {
    border-top: none;
}
#people-list li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
#people-list li.alt {
    background-color: #efefef;
}
.people-pict {
    float: left;
    margin-right: 10px;
}
.people-desc {
    display: block;
    float: left;
    width: 760px;
    font-size: 14px;
    position: relative;
}
.people-desc h3 {
    border-bottom: 1px solid #999;
}
.people-desc-detail:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
.people-desc-detail .label {
    display: block;
    width: 200px;
    float: left;
    margin-right: 10px;
}
.people-desc-detail .val {
    display: block;
    float: left;
}
.people-desc .modifylinks {
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.people-desc .modifylinks .edit,
.people-desc .modifylinks .delete
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.people-desc .modifylinks .edit {
    background: url(../img/edit.png) 0 50% no-repeat;
}
.people-desc .modifylinks .delete {
    background: url(../img/delete.png) 0 50% no-repeat;
}
