#profile {
    padding: 10px;
    margin-top: 10px;
}
#profile ul {
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding:  0;
    margin: 0;
}
#profile li {
    padding: 10px;
    display: block;
}
#profile li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
.people-desc {
    display: block;
    font-size: 14px;
}
.people-desc h3 {
    border-bottom: 1px solid #999;
}
