#profile {
    padding: 10px;
    margin-top: 10px;
}
#profile ul {
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding:  0;
    margin: 0;
}
#profile li {
    padding: 10px;
    display: block;
}
#profile li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
.people-pict {
    width: 180px;
    float: left;
    margin-right: 10px;
}
.people-pict .pict {
    display: block;
    overflow: hidden;
}
.people-pict .people-info {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.people-pict .people-info td {
    border: 1px solid #ddd;
}
.people-pict .people-info td.label {
    background-color: #efefef;
}
.people-pict .people-info td.val {
    font-weight: bold;
}

.people-desc {
    display: block;
    float: right;
    width: 710px;
    font-size: 14px;
    position: relative;
}
.people-desc h3 {
    border-bottom: 1px solid #999;
}
.people-desc-detail:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
.people-desc-detail .label {
    display: block;
    width: 200px;
    float: left;
    margin-right: 10px;
}
.people-desc-detail .val {
    display: block;
    float: left;
}

