body {
    background: #d0d0d0 url(../img/bg.png) top left repeat-x;
    color: #666;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
table, td, th {
    vertical-align: top;
}
/* hd flash message */
#hdflash {
    height: auto;
}
.flash_box,
#authMessage
{
    margin-bottom: 10px;
    width: auto;
    left: 0%;
    padding: 0.5em;
    position: relative;
    font-weight: bold;
    color: #fff;
}
.flash_info {
    background-color: #09C;
}
.flash_success {
    border: 2px solid #9BD39E;
    background: #C6F9C9 url(../img/success.png) 10px 50% no-repeat;
    color: #4F7F51;
    padding: 10px 5px 8px 36px;
}
.flash_warning {
    background-color: #F60;
}
.flash_error,
.message
{
    background: #CF3333 url(../img/error.png) 10px 50% no-repeat;
    border: 2px solid #990000;
    padding: 10px 5px 8px 36px;
}
.more {
    text-align: right;
}
.information {
    background:url("../img/information.png") no-repeat scroll 5px 50% #FFFFEE;
    border:2px solid #FFCC00;
    margin-bottom:10px;
    padding:5px 10px 5px 30px;
}
.information h4 {
    font-size: 13px !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}
.information h4 strong {
    color:#FF0000 !important;
}
.information p {
    margin-bottom: 0;
    font-size: 11px !important;
}

/* header */
#hd {
    margin-top: 20px;
}
#nav-top {
    height: 36px;
    margin: 50px 0 5px 0;
}
#nav-top ul,
#nav-top ul li,
#nav-top #nav-top-login,
#nav-top #nav-top-search
{
    float: left;
}
#nav-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav-top li a {
    width: 50px;
    text-indent: -9999px;
}
#nav-top li a,
#nav-top #nav-top-search
{
    display: block;
    height: 36px;
    background-image: url(../img/nav.png);
}
/* nav links */
#nav-top li .home {
    width: 50px;
    background-position: 0 0;
}
#nav-top li .home:hover { background-position: 0 -36px; }
#nav-top li .home.selected { background-position: 0 36px; }

#nav-top li .intro {
    width: 85px;
    background-position: -50px 0;
}
#nav-top li .intro:hover { background-position: -50px -36px; }
#nav-top li .intro.selected { background-position: -50px 36px; }

#nav-top li .archive {
    width: 130px;
    background-position: -270px 0;
}
#nav-top li .archive:hover { background-position: -270px -36px; }
#nav-top li .archive.selected { background-position: -270px 36px; }

#nav-top li .list {
    width: 135px;
    background-position: -135px 0;
}
#nav-top li .list:hover { background-position: -135px -36px; }
#nav-top li .list.selected { background-position: -135px 36px; }

/* search */
#nav-top-search {
    width: 150px;
    background-position: -400px 0;
    position: relative;
}
#nav-top-search-field {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 100px;
    background: none;
    font-size: 10px;
    border: none;
}

/* box */
.box-content-outer {
    padding: 1px;
    background-color: #efefef;
    border: 1px solid #999;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.box-content {
    padding: 10px;
    background: #efefef url(../img/box_content_bg.png) top left repeat-x;
}
.box-content h2 {
    font-family: Verdana,Arial,sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 1px 1px #fff;
    color: #555;
    border-bottom: 1px solid #999;
    padding-bottom: 2px;
}
.box-content.common p {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    text-shadow: 1px 1px 0 #fff;
}
.box-content.common p .alter {
    color: #333;
}

/* front splash */
#splash_container {
    margin: 20px 0;
}
#splash {
    background: url(../img/splash.png) top left no-repeat;
    height: 300px;
    width: 630px;
}

/* Today's birthday */
#todaysbirthday {
    margin-top: 20px;
}
#todaysbirthday-content {
    background: url(../img/birthday.gif) top left no-repeat;
    padding-left: 25px;
    overflow: hidden;
}
#todaysbirthday-content .label {
    color: #222;
    font-weight: bold;
    font-size: 101.1%;
}
#todaysbirthday-content .val {
    padding-left: 5px;
    font-weight: bold;
}

/* featured member */
#featured-member-container {
    margin: 5px 0;
}
#featured-member-container h2 {
    margin-bottom: 5px;
}
.fmember {
    padding-top: 10px;
}
.fmember_row {
    display: block;
    width: 75px;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}
.fmember_row:first-child {
    padding-left: 0;
}
.fmemberphoto {
    width: 75px;
    overflow: hidden;
    padding-bottom: 2px;
}
.fmembername {
    font-weight: bold;
}
.fmember_other {
    padding: 2px 0 2px 6px;
    margin-top: 20px;
    font-weight: bold;
    background-color: #d0e8ec;
}

/* news */
#news-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#news-content li {
    font-family: Verdana,Arial,sans-serif;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}
#news-content li a {
    font-size: 14px;
    font-weight: bold;
}
#news-content span {
    font-size: 10px;
}
#news-content .date {
    font-weight: bold;
    color: #333;
}
#news-content .label {
}
#news-content .val {
    font-weight: bold;
    color: #333;
}

/* Commentar */
#commentinfo {
    margin-bottom: 10px;
    color: #666;
}
#comments {
    padding-left: 0;
}
#comments li {
    background-color: #efefef;
}
#comments li.alt {
    background-color: #fff;
}
#comments li .comment {
    font-size: 101%;
}
#comments li .comment_author {
    color: #999;
    font-style: italic;
    font-size: 11px;
}
#givecomment {
    margin-top: 10px;
}
#givecomment h3 {
    margin-bottom: 10px;
    color: #666;
}
.row label {
    display: block;
    vertical-align: top;
}
.row textarea {
    display: block;
    width: 400px;
    height: 80px;
}

/* footer */
#ft {
    margin-top: 20px;
    padding: 10px 0;
    color: #999;
}

/* user nav */
#usernav {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #fff;
    margin: 1px;
}
#usernav-wrap {
    background: #222;
}
#usernav-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}
#usernav-wrap li a {
    display: block;
}

#map_canvas {
    height: 400px;
    width: 600px;
}
